@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Baskerville", sans-serif;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/0dcaaf9de66eda417f1bb5ca47e615af.jpg );
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    height: 100vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    width: 180px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: whitesmoke;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: burlywood;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 80px;
    color: whitesmoke;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: whitesmoke;
    padding: 0 250px;
    margin-bottom: 25px;
}


.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: burlywood;
    color: whitesmoke;
    text-transform: uppercase;
}

.btn-1:hover {
   background-color: bisque;
}

.coffee {
    padding: 100px 0;
    background-color: #402A1C;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    font-weight: 800;
}

.txt-p {
    font-size: 16px;
    color: whitesmoke;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.coffee-1{
    background-color: whitesmoke;
    border-radius: 15px;
}


.coffee-1 p {
    color: black;
    text-align: left;
    padding: 0 30px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
    rotate: calc(180deg);
}

.coffee-img1 {
    position: absolute;
    top: 50%;
    left: 0;

}

.coffee-1 h3 {
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.coffee-1 img {
    width: 450px;
}

.description {
    background-color: #DCDCDC;
    padding: 10px;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 15px;
}

.services {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100PX 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 800;
}

.services-content p {
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.servicees-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: antiquewhite;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: grey;
}

.general-2 {
    background-image: url(../assets/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(../assets/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    margin-bottom: 20px;
}

p {
    color: whitesmoke;
    font-size: 16px;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: black;
} 


.footer {
    padding: 100px 0;
    background-color: grey;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: aliceblue;
    display: block;
    margin-bottom: 15px;
}

/* From Uiverse.io by BHARGAVPATEL1244 */ 
button {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #A69A90;
 color: whitesmoke;
}

button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

button:hover span {
 color: whitesmoke;
}

button::before,
button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

button::before {
 content: "";
 background: #2D3D1C;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
 transform: translate3d(100%, 0, 0);
}
